<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file> index.jsp </welcome-file>          
    </welcome-file-list>
    <filter>
        <filter-name>FilterLog</filter-name>
        <filter-class>com.project.progetto.FilterLog</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLog</filter-name>
        <url-pattern>/LoginServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.project.progetto.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.project.progetto.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.project.progetto.UserServlet</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScarpaServlet</servlet-name>
        <servlet-class>com.project.progetto.ScarpaServlet</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>ScarpaServlet</servlet-name>
        <url-pattern>/ScarpaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.project.progetto.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>com.project.progetto.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveAllCartServlet</servlet-name>
        <servlet-class>com.project.progetto.RemoveAllCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveAllCartServlet</servlet-name>
        <url-pattern>/RemoveAllCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AcquistoServlet</servlet-name>
        <servlet-class>com.project.progetto.AcquistoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcquistoServlet</servlet-name>
        <url-pattern>/AcquistoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>com.project.progetto.RemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
    </servlet-mapping>
</web-app>